<!DOCTYPE html>
<html>
    <head>
        <title>
            {{#if success}}
                Log In Success!
            {{else}}
                Log In Failed!
            {{/if}}
        </title>
    </head>
    <body>
        <h1>
            {{#if success}}
                Log In Success!
            {{else}}
                Log In Failed!
            {{/if}}
        </h1>
        <a href="/">Return to main page</a>
    </body>
</html>